*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    width: 100%;
    height: 70px;
    background-color: blue;
}
#home-photos{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items:start;
    justify-content: center;
}
.texts{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 24px;
    border-bottom: 1px solid #ccc!important; 
    width: 100%;
    height: 50px;
    padding-bottom: 10px;
    padding-left: 20px;
    display: flex;
    justify-content: start;

}
.renthomes{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.maindiv{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap:wrap ;
    gap: 10px;
}
.photo1 img{
    width: 340px;
    height: 240px;
}
.photo1{
    position: relative;
}
.housenames{
    width: 135px;
    height: 45px;
    background-color: black;
    color: white;
    position: absolute;
    bottom: 198px;
    display: flex;
    align-items: center;
    justify-content: center;
}
@media screen and (min-width: 661px) and (max-width:992px)
{
    #home-photos
}

#about{
width: 100%;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
margin-top:  20px;
gap: 25px ;
}

.titlediv{
    width: 100%;
    font-size: 24px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-bottom: 1px solid #ccc!important; 
    display: flex;
    align-items: start;
    justify-content: start;
    padding-bottom: 10px;
}
.textdiv{
    width: 100%;
    font-size: 15px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    padding-left: 20px;
    display: flex;
    align-items: start;
    justify-content: start;
    padding-right: 20px;
}
.people{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

}
@media screen and (min-width: 300px) and (max-width:660px)
{
    #about
}
.John{
    width: 360px;
    display: flex;
    flex-direction: column;
    gap: 20px;

}
.John img{
    width: 330px;
    height: 230px;
}
.John button{
    height: 40px;
    border: none;
    font-size: 18px;
    cursor: pointer;
}
.John h3{
    font-size: 24px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.John p{
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
